* {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.box {
    background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 55%, rgba(0, 212, 255, 1) 100%);
}
.box__inner {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ik {
    color: aliceblue;
    margin-right: 15px;
}
.tn {
    margin-right: 20px;
}
.number {
    color: aliceblue;
    font-size: 40px;
}
.text {
    color: aliceblue;
    font-size: 20px;
    text-transform: uppercase;
}

.fa {
    color: rgb(191, 225, 255);
    font-size: 90px;
}