* {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.box {
    background: #241b00;
    background: linear-gradient(90deg,rgba(36, 27, 0, 1) 0%, rgba(64, 35, 0, 1) 50%, rgba(89, 54, 0, 1) 100%);
}
.box__inner {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item {
    text-align: center;
}
.number {
    color: antiquewhite;
    font-size: 70px;
}
.text {
    color: rgb(252, 220, 178);
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.line {
    width: 30px;
    height: 2px;
    background-color: antiquewhite;
    margin: 0 auto;
}

.fa {
    font-size: 70px;
    color: rgb(250, 222, 186);
}